.login {
  background: url("/mars-terrain.jpg") center/cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  overflow: hidden;

  &__content {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
  }

  &__form {
    background-color: #000c;
    padding: 1em;

    @media (min-width: 576px) {
      border-radius: 1em;
      padding: 2em 4em;
    }
  }

  &__header {
    margin: 1em 0;
    text-align: center;
  }
}
